<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vn.toeic.mapper.IVocabularyMapper">

    <resultMap id="BaseResultMap" type="com.vn.toeic.entity.Vocabulary">
        <id property="wordId" column="word_id"/>
        <result property="word" column="word"/>
        <result property="meaning" column="meaning"/>
        <result property="synonyms" column="synonyms"/>
        <result property="example" column="example"/>

        <!-- BaseEntity fields -->
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="delFlg" column="del_flg"/>
        <result property="versionNo" column="version_no"/>
    </resultMap>

    <insert id="save" parameterType="com.vn.toeic.entity.Vocabulary">
        INSERT INTO vocabularies (
            word,
            meaning,
            synonyms,
            example,
            created_at,
            updated_at,
            del_flg,
            version_no
        ) VALUES (
            #{word},
            #{meaning},
            #{synonyms},
            #{example},
            #{createdAt},
            #{updatedAt},
            #{delFlg},
            #{versionNo}
        )
    </insert>

    <update id="update" parameterType="com.vn.toeic.entity.Vocabulary">
        UPDATE vocabularies
        SET
            word = #{word, jdbcType=TEXT},
            meaning = #{meaning, jdbcType=TEXT},
            synonyms = #{synonyms, jdbcType=TEXT},
            example = #{example, jdbcType=TEXT},
            updated_at = #{updatedAt},
            version_no = version_no + ${@com.vn.toeic.common.Constant$Number@ONE}
        WHERE
            word_id = #{wordId}
            AND del_flg = ${@com.vn.toeic.common.Constant$DelFlg@NOT_DELETED}
    </update>

    <update id="delete" parameterType="com.vn.toeic.entity.Vocabulary">
        UPDATE vocabularies
        SET
            del_flg = ${@com.vn.toeic.common.Constant$DelFlg@DELETED},
            updated_at = #{updatedAt}
        WHERE
            word_id = #{wordId, jdbcType=INTEGER}
            AND del_flg = ${@com.vn.toeic.common.Constant$DelFlg@NOT_DELETED}
    </update>

    <select id="findById" parameterType="int" resultMap="BaseResultMap">
        SELECT
            *
        FROM
            vocabularies
        WHERE
            word_id = #{wordId, jdbcType=INTEGER}
            AND del_flg = ${@com.vn.toeic.common.Constant$DelFlg@NOT_DELETED}
    </select>

    <select id="getAllByCreator" resultType="com.vn.toeic.entity.Vocabulary">
        SELECT
            WORD_ID,
            WORD,
            MEANING,
            SYNONYMS,
            EXAMPLE,
            UPDATER,
            CREATOR,
            UPDATED_AT,
            CREATED_AT,
            DEL_FLG,
            VERSION_NO
        FROM
            VOCABULARIES
        WHERE
            CREATOR = #{creator, jdbcType=INTEGER}
            AND DEL_FLG = ${@com.vn.toeic.common.Constant$DelFlg@NOT_DELETED}
        OFFSET #{offset, jdbcType=INTEGER}
        LIMIT #{limit, jdbcType=INTEGER}
    </select>

</mapper>
